@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../animations.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 14px;
}

a{
    font-size: 14px;
    font-weight: 500;
    color: #181a1e;
}

button,
span{
    font-weight: 500;
    font-size: 13px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 10px 8px 10px 8px;
    border-radius: 12px;
    width: 200px;
    background: #688594;
}


.container .top,
.container .account-management .more-accounts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .top .atual-account,
.container .account-management .more-accounts .account-1,
.container .account-management .more-accounts .account-2{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #f3f1f2;
}

.container .top .atual-account:hover,
.container .top .settings:hover,
.container .account-management .more-accounts .account-1:hover,
.container .account-management .more-accounts .account-2:hover{
    transform: translate(2px,-2px);
}

.container .top .atual-account > img,
.container .account-management .more-accounts .account-1 > img,
.container .account-management .more-accounts .account-2 > img{
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.container .top .settings{
    border: 1px solid #999;
    border-radius: 10px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    background: #f3f1f2;
}

.container .top .settings > i{
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    animation: spinReverse 0.6s linear forwards;
}

.container .top .settings:hover > i{
    animation: spin 0.6s linear forwards;
}


.container .separator{
    border: 1px solid #000;
    width: 100%;           
    height: 0;  
    margin: 5px 0 5px 0;     
}

.container .btn-management{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .btn-management .btn-login,
.container .btn-management .btn-logout,
.container .btn-signout-all{
    padding: 6px 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background: #ffd700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #181a1e;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.container .btn-management .btn-login > i,
.container .btn-management .btn-logout > i{
    font-size: 16px;
}

.container .btn-management .btn-login:hover,
.container .btn-management .btn-logout:hover,
.container .btn-signout-all:hover{
    box-shadow: none;
    transform: scale(1.02);
}

.container .separator-2{
    border: 1px solid #181a1e;
    border-radius: 50px;
    width: 100%;           
    height: 0;  
    margin: 5px 0 -5px 0;     
}

.container .account-management{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .account-management > h5{
    font-size: 14px;
    font-weight: 500;
}