/*SELETORES*/


/*SELETORES UNIVERSAIS*/


/*CLASSES*/

.logo_edit{
    width: 48px;
    height: 40px;
}

.social-login-choice{
    display: flex;
    flex-direction: row;
    gap: 30px;

    margin-bottom: 20px;
}

.main-box{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 90vh;

    zoom: 1.2;
}

.top-center{
    display: flex;
    flex-direction: row;
}

.form-camp{
    border: solid 1px;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.input-info{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 300px;

    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.input-info-camp{
    height: 30px;
    width: 292px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #B5B3B3;
    color: black;

    border: none;
    border-radius: 2px;
}

.align-checkbox-usertype{
    height: 40px;

    background-color: #D9D9D9;

    display: flex;
    flex-direction: row;
    gap: 60px;
}

.align-checkbox-group{
    height: 250px;

    background-color: #B5B3B3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    border-radius: 10px;
}

.buttons{
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    gap: 50px;
}